## Practical - 03

**Descriptive Statistics - Measures of Central Tendency and variability**

Perform the following operations on any open source dataset (e.g., data.csv) 

1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for  a dataset (age, income etc.) with numeric variables grouped by one of the qualitative (categorical) variable. For example, if your categorical variable is age groups and quantitative variable is income, then provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each response to the categorical variable.  

2. Write a Python program to display some basic statistical details like percentile, mean, standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’ of iris.csv dataset.

**Commonly used Measures**

1. Measures of Central Tendency
2. Measure of Dispersion

**Measure of Central Tendency**

1. Mean
2. Mode
3. Median
4. Standard Deviation
5. Minimum
6. Maximum

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\hasna\Desktop\Simran\TE\TE-SEM-2\Practicals\DSBDL\Datasets\Mall_Customers.csv")
print(df)

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [4]:
df.head(10)

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40
5           6  Female   22                  17                      76
6           7  Female   35                  18                       6
7           8  Female   23                  18                      94
8           9    Male   64                  19                       3
9          10  Female   30                  19                      72

In [5]:
missingdata=df.isnull()
df.isnull().sum()

CustomerID                0
Genre                     0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [ ]:
df.mean()

In [ ]:
df.median()

In [ ]:
df.std()

In [ ]:
df.min()

In [ ]:
df.max()

In [ ]:
df["Age"].mean()

In [ ]:
df["Age"].median()

In [ ]:
df["Age"].std()

In [ ]:
df["CustomerID"].mean()

In [ ]:
df["CustomerID"].median()

In [ ]:
df["CustomerID"].std()

In [ ]:
df["Annual Income (k$)"].mean()

In [ ]:
df["Annual Income (k$)"].median()

In [ ]:
df["Annual Income (k$)"].std()

In [ ]:
df["Spending Score (1-100)"].mean()

In [ ]:
df["Spending Score (1-100)"].median()

In [ ]:
df["Spending Score (1-100)"].std()

In [ ]:
gk=df.groupby(['Genre'])
gk.first()